name: Update Korea Fear and Greed Index

on:
  schedule:
    # 한국 시간 기준 매일 밤 12시 10분 (UTC 15:10)
    - cron: '10 15 * * *'
  workflow_dispatch: # 수동 실행 버튼 생성

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install pykrx finance-datareader beautifulsoup4 lxml requests firebase-admin pandas

      - name: Run Python script
        env:
          FIREBASE_KEY: ${{ secrets.FIREBASE_KEY }}
        run: python korea_fear_greed.py
