name: Update Korea Fear and Greed Index and Gemini Advisor

on:
  schedule:
    # 한국 시간 기준 오전 10시 (UTC 1:00), 오후 2시 (UTC 5:00)
    - cron: '0 1 * * *'
    - cron: '0 5 * * *'
  workflow_dispatch: # 수동 실행 버튼 생성

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install pykrx finance-datareader beautifulsoup4 lxml requests firebase-admin pandas google-generativeai

      - name: Run Python script
        id: run_python_script # Added ID to reference outputs
        env:
          FIREBASE_KEY: ${{ secrets.FIREBASE_KEY }}
          KRX_API_KEY: ${{ secrets.KRX_API_KEY }} # KRX API 키 환경 변수 추가
          GEMINI_API_KEY: ${{ secrets.GEMINI_INDEX_ADVISOR_KEY }} # Gemini API 키 추가
        run: python korea_fear_greed.py



      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add public/gemini_adv.html
          git commit -m "Auto-update Gemini advisor report: $(date +'%Y-%m-%d')" || exit 0
          git push
